/* ******** s-Jeneral ******** */
body {
    scroll-padding: 88px;
}

:root {
    --MainColor: #343434;
    --bg-color-section: #F7F7F7;
    --whit-color: #fff;
    --des-color: #748182;
}

.inner {
    padding: 100px 0;
}

* {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.m-color {
    color: #343434 !important;
}

.des-color {
    color: #748182;
}

.bg-section {
    background-color: var(--bg-color-section);
}

.title-section {
    margin-bottom: 50px;
}

.title-section h2 {
    font-weight: 800;
    letter-spacing: -1px;
    width: fit-content;
    z-index: 10;
}

.title-section h2::before {
    content: "";
    position: absolute;
    background: url(../imags/dots.png) repeat;
    height: 50%;
    width: 100%;
    z-index: -1;
    bottom: -10%;
}

/* ******** e-Jeneral ******** */

/* ********** s-Nav ********** */
.nav-s {
    background: rgb(0, 0, 0, .19) !important;
    z-index: 100 !important;
}

.logo {
    letter-spacing: 3px;
}

.nav .active::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: var(--whit-color);
    bottom: 6px;
    border-radius: 5px;
}

.nav-item .active {
    background-color: transparent !important;
    margin:auto;
}

@media screen and (min-width: 100px) and (max-width: 992px) {
    .cont-ul-nav {
        background-color: var(--whit-color) !important;
    }
    .cont-ul-nav ul a{
        color:var(--MainColor) !important;
        text-align: center !important;
    }
}

/* ********** e-Nav ********** */

/* ********* s-header ******** */
.header-s {
    background: linear-gradient(rgb(0, 0, 0, .6) 50%, rgb(0, 0, 0, .6) 50%), url(../imags/header-bg\ \(2\).jpg) fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cont-heade h1 {
    font-size: 50px;
}

.cont-heade p {
    font-size: 60px;
    font-weight: 100;
}

.cont-icon {
    width: 35px;
    height: 35px;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cont-icon i {
    font-size: 13px;
}

/* ********* e-header ******** */

